# Essencial
ensure likizao_ac
ensure zero
ensure oxmysql
ensure sessionmanager

# System
ensure chat
ensure discord-screenshot
ensure screenshot-basic
ensure pma-voice

# Zero
ensure zero_spawn
ensure zero_core
ensure zero_setGroups
ensure zero_code
ensure zero_hud
ensure zero_streaming
ensure zero_homes
ensure zero_bank
ensure zero_identity
ensure zero_sounds
ensure zero_garage
ensure zero_production
ensure zero_inventory
ensure zero_dynamic
ensure zero_appearance
ensure zero_creation
ensure zero_shop
ensure zero_works
ensure zero_system
ensure zero_hospital
ensure zero_tunings
ensure zero_fuel
ensure zero_elevator
ensure zero_org
ensure zero_radio
ensure zero_arsenal

# Others
ensure [others]
ensure cfx-gabz-mba
ensure smartphone
ensure an4log_pets
ensure hydrus.gg
ensure lafy
ensure cs-hall