* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea {
  font-family: "Geologica", sans-serif;
}

img {
  border: none;
}

::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 153, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 153, 255);
}

#actionmenu {
  position: absolute;
  left: 65px;
  top: 65px;
  width: 400px;
  height: 700px;
  display: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 153, 255, 0.3),
    rgba(0, 0, 0, 0.2)
  );
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.prevent-click {
  pointer-events: none;
  animation: blur 2s ease 0s;
  animation-fill-mode: forwards;
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }

  100% {
    filter: blur(3px);
  }
}

#repair {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.274);
  left: 470px;
  top: 265px;
  width: 170px;
  height: 70px;
  padding: 30px;
  display: none;
  border-radius: 15px;

  color: white;
  text-align: center;
  font-size: 25px;

  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#principal {
  position: absolute;
  width: 400px;
  height: 500px;
}

.menu {
  position: absolute;
  display: none;
  margin: 35px 40px;
  width: 80%;
  height: 97%;
  overflow-y: auto;
  border-radius: 10px;
  /* background-color: red; */
}

.titulo {
  position: relative;
  text-align: center;
  top: 30px;
  color: white;
  font-size: 40px;
}

.titulo img {
  width: 100px;
}

.option {
  position: relative;
  float: left;
  width: 70px;
  height: 100px;
  margin: 15px 5px auto;
  border-radius: 10px;
  background-color: rgba(0, 153, 255, 0.1);
  border: 0;
}

.option img {
  /* position: relative; */
  width: 50px;
  height: 50px;
  /* bottom: 10px; */
}

.option span {
  display: none;
}

.option:hover {
  cursor: pointer;
  background-color: rgba(0, 153, 255, 0.15);
}

.option:hover > .textbox {
  display: block;
  background-color: transparent;
}

.option2 {
  position: relative;
  width: 70px;
  height: 100px;
  margin: 15px 5px auto;
  border-radius: 10px;
  background-color: rgba(0, 153, 255, 0.1);
  color: white;
  border: 0;
}

.option2 img {
  position: relative;
  width: 50px;
  height: 50px;
  bottom: 10px;
}

.option2 span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  margin: auto;
  font-size: 12px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.option2:hover {
  cursor: pointer;
  background-color: rgba(0, 153, 255, 0.15);
}

.option2:hover > .textbox {
  display: block;
}

.option2:focus > .textbox {
  display: block;
}

.option2:focus {
  border: 1px solid rgb(0, 153, 255);
  background-color: rgba(0, 153, 255, 0.1);
}

.textbox {
  display: none;
  position: absolute;
  background-color: rgb(168, 168, 168);
  right: 1px;
  padding: 2px 0;
  bottom: 1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 66px;

  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

strong {
  font-weight: normal;
  display: block;
  font-size: 0.8rem;
}

.camera {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  background-color: transparent;
  color: white;
  width: 230px;
  height: 30px;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: 0.05rem;
  font-size: 0.6rem;
  text-align: center;
}

.camera span {
  color: rgb(0, 153, 255) !important;
}

.buttons {
  padding: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 400px;
  height: 80px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
}

.price {
  letter-spacing: 0.05rem;
  color: white;
  border: 1px solid rgb(0, 153, 255);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagar {
  display: none;
  background-color: transparent;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(0, 153, 255);
  letter-spacing: 0.05rem;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagar:hover {
  background-color: rgba(0, 153, 255, 0.1);
}

.voltar {
  background-color: transparent;
  display: none;
  border: 1px solid rgb(0, 153, 255);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  letter-spacing: 0.05rem;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.voltar:hover {
  background-color: rgba(0, 153, 255, 0.05);
}

.reparar {
  width: 100px;
  margin: 10px;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(0, 122, 20, 0.308);
  color: white;
  border: 0;
  border-radius: 10px;
  font-size: 20px;
}

.reparar:hover {
  background-color: rgba(0, 122, 20, 0.623);
}

.reparar:active {
  box-shadow: 0px 0px 0px 1px rgba(5, 150, 0, 0.863);
  animation: anim-shadow 0.3s forwards;
}

.wheel-color {
  font-size: 30px;
  color: white;
  margin: 240px auto;
  text-align: center;
}

.color-picker {
  position: relative;
  margin: auto;
  top: 150px;
  display: block;
  text-align: center;
}

.color {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border: 5px solid rgba(0, 0, 0, 0.055);
  border-radius: 100%;
}

.color:hover {
  border-color: rgba(0, 0, 0, 0.603);
}

.hide {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  visibility: hidden;
}

.color-selector {
  display: none;
  position: relative;
  color: rgb(197, 197, 197);
  font-size: 30px;
  margin: 10px auto;
  text-align: center;

  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.color-selector2 {
  position: relative;
  color: rgb(197, 197, 197);
  font-size: 30px;
  margin: auto;
  text-align: center;
}

.colortype {
  position: relative;
  text-align: center;
  width: 70px;
  height: 40px;
  padding: 2px 0;
  margin: 15px 5px;
  background-color: rgba(0, 0, 0, 0.514);
  color: rgb(196, 196, 196);

  font-weight: 100;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 10px;
  letter-spacing: 1px;
  transition: 0.9s;
}

.colortype:hover {
  background-color: rgba(0, 132, 141, 0.685);
}

.colortype:active {
  box-shadow: 0px 0px 0px 1px rgba(77, 77, 77, 0.829);
  animation: anim-shadow 0.3s forwards;
}

.colortype:focus {
  background-color: rgba(0, 132, 141, 0.733);
}

.other-colors {
  margin-top: 150px;
}

.arrow {
  margin: 10px 10px;
  font-size: 25px;
  color: rgb(177, 177, 177);
  background-color: transparent;
  border: 0;
}

.arrow:hover {
  color: rgba(0, 132, 141, 0.685);
}

.arrow:active {
  color: rgba(1, 205, 219, 0.685);
}

.arrow2 {
  margin: 10px 10px;
  font-size: 50px;
  color: rgb(177, 177, 177);
  background-color: transparent;
  border: 0;
}

.arrow2:hover {
  color: rgba(0, 132, 141, 0.685);
}

.arrow2:active {
  color: rgba(1, 205, 219, 0.685);
}

@keyframes anim-shadow {
  100% {
    box-shadow: 0px 0px 50px 20px rgba(112, 111, 211, 0);
  }
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    z-index: 40;
    opacity: -1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    visibility: visible;
  }

  100% {
    z-index: 49;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    z-index: 40;
    opacity: -1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    visibility: visible;
  }

  100% {
    z-index: 49;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
