.bar {
  display: none;
  position: absolute;
  left: 23%;

  width: 10rem;
  height: 0.4rem;

  background-color: rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.barLevel {
  height: 100%;
  max-width: 100%;
  border-radius: 25px;
  transition: 500ms linear;
}

.nos {
  background-color: #0099ff;
}
.purge {
  background: #fff;
}
