body {
  padding: 0;
  margin: 0;
  font-family: "Aboreto", cursive;
  overflow: hidden;
}

button,
input {
  font-family: "Aboreto", cursive;
}

* {
  box-sizing: border-box;
}

#zPetHud {
  width: 100vw;
  height: 100vh;
  display: none;
}

#zPetHud .hud_content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#zPetHud .hud_content #pet-control {
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 153, 255, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 10px 10px 15px;
  position: absolute;
  top: 8vh;
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

#zPetHud .hud_content #pet-control #commands {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  width: 250px;
}

#zPetHud .hud_content #pet-control #commands .item-command {
  border: 1px solid rgba(255, 255, 255, 0.1);
  flex: 1;
  min-width: 80px;
  color: white;
  display: none;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 15px;
  height: 30px;
}

#zPetHud .hud_content #target {
  background-color: #fff;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

#zPetHud .hud_content #message {
  color: white;
}

#zPetHud .hud_content #pet-stats {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

#zPetHud .hud_content #pet-stats img {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 5px solid rgba(255, 255, 255, 0.1);
}

#zPetHud .hud_content #pet-stats #stats-bars {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#zPetHud .hud_content #pet-stats #stats-bars #pet-name {
  color: white;
  font-size: 12px;
  width: 100%;
}

#zPetHud .hud_content #pet-stats #stats-bars .wrap-bar {
  width: 100%;
  overflow: hidden;
  height: 14px;
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#zPetHud .hud_content #pet-stats #stats-bars .wrap-bar label {
  color: white;
  font-size: 10px;
  position: absolute;
  margin-left: 10px;
}

#zPetHud .hud_content #pet-stats #stats-bars .wrap-bar .bar {
  height: 100%;
  border-radius: 10px;
  transition: all 0.5s;
}

#zPetHud .hud_content #pet-stats #stats-bars .wrap-bar .bar.hunger {
  background-color: rgba(255, 100, 0, 0.1);
  border: 1px solid rgba(255, 100, 0, 0.6);
}

#zPetHud .hud_content #pet-stats #stats-bars .wrap-bar .bar.thirst {
  background-color: rgba(150, 150, 255, 0.1);
  border: 1px solid rgba(150, 150, 255, 0.5);
}

#zPetForm {
  width: 100vw;
  height: 100vh;
  display: none;
}

#zPetForm #create-pet {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.9);
}

#zPetForm #create-pet img#img-adopt {
  width: 125px;
  height: 125px;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.05);
}

#zPetForm #create-pet form {
  width: 450px;
  padding: 25px 20px;
  /* border: 5px solid rgba(255, 255, 255, 0.2); */
  display: flex;
  gap: 20px;
  border-radius: 10px;
  align-items: center;
}

#zPetForm #create-pet form .right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

#zPetForm #create-pet form input {
  background-color: transparent;
  border: 0;
  border: 1px solid rgba(255, 255, 255, 0.7);
  height: 30px;
  border-radius: 15px;
  font-size: 10px;
  padding: 0 10px;
  color: white;
}

#zPetForm #variation-list {
  width: 100%;
  display: none;
  align-items: center;
  gap: 10px;
  padding: 0;
  list-style: none;
}

#zPetForm #variation-list li {
  border: 1px solid rgba(255, 255, 255, 0.7);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

#zPetForm #variation-list li.active {
  border-width: 2px;
}

#zPetForm #create-pet form button {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 12px;
  width: fit-content;
  letter-spacing: 1px;
  font-weight: bold;
}

#zPetForm #create-pet form span {
  color: #f4f4f4;
  font-size: 12px;
}

#zPetList {
  width: 100vw;
  height: 100vh;
  display: none;
}

#zPetList #wrap-pet-list {
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 153, 255, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#zPetList #wrap-pet-list h1 {
  width: 600px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: white;
  font-size: 18px;
  display: none;
}

#zPetList #wrap-pet-list h1 span {
  color: #0099ff;
  font-size: 30px;
}

#zPetList #wrap-pet-list ul#pet-list {
  width: 600px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#zPetList #wrap-pet-list ul#pet-list li {
  min-width: calc(50% - 10px);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

#zPetList #wrap-pet-list ul#pet-list li:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

#zPetList #wrap-pet-list ul#pet-list li .desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#zPetList #wrap-pet-list ul#pet-list li img {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  border: 5px solid rgba(0, 0, 0, 0.1);
}

#zPetList #wrap-pet-list ul#pet-list li .name {
  color: white;
  display: block;
  width: 100%;
  letter-spacing: 1px;
}

#zPetList #wrap-pet-list ul#pet-list li .status {
  color: #d0d0d0;
  display: block;
  width: 100%;
  font-size: 10px;
  letter-spacing: 1px;
}
